	<div id="forgot-form">
		<div id="forgot-left">
			<div id="forgot-logo"></div>
		</div>
		<div style="font-size: 18px; color: #eee; margin-bottom: 39px; text-align: center; text-shadow: 0 -1px #000;" data-localize="forgot.explanation"></div>
		<div id="create-account">
			<form method="POST">
				<div>
					<input style="width:300px;" autocapitalize="off" type="text" name="email" placeholder="Email" data-localize="placeholder.email"/>
				</div>
				<div>
					<input type="hidden" value="_csrf" name="_csrf" />
                    <input type="hidden" value="en" name="lang" id="form-lang" />
					<input id="login-button" value="Send" type="submit" data-localize="forgot.button"/>
				</div>
			</form>
		</div>
	</div>
	