<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>iot analytics</title>
    <link rel="shortcut icon" href="favicon.ico"> 
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel='stylesheet' href='stylesheets/main.css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
    <script language="javascript" type="text/javascript" src="javascripts/utils/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script language="javascript" type="text/javascript" src="bower_components/nvd3/build/nv.d3.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/dashboard">Dashboard</a>
            <ul class="nav pull-left">
              <li id="new_events"><a href="events?highlightFrom=<%= Date.now() %>"></a></li> 
            </ul>
            <ul class="nav pull-right" id="check_summary">
              <li id="all_up" style="display:none;"><span class="label label-success">Up</span><strong class="green">0</strong></li>
              <li id="all_down" style="display: none;"><span class="label label-important">Down</span><strong class="red">0</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <section>
        <%- body %>
      </section>
      <footer class="footer" style="bottom: 18px; ">
        <p class="pull-right"><a href="#"></a></p>
      </footer>
    </div>
    
    <script language="javascript" type="text/javascript" src="javascripts/utils/prefixfree.min.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/dom/jquery.noisy.min.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/utils/store+json2.min.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/pre-login.js"></script>
  </body>
</html>