	<div id="login-form">
		<div style="overflow:auto;">
			<div id="login-left">
				<div id="login-logos"></div>
			</div>
			<div style="float:left; overflow:auto;">
				<form method="POST">
					<div>
						<input type="text" autocapitalize="off" name="username" placeholder="Username or Email" data-localize="placeholder.username-email"/>
					</div>
					<div>
						<input name="password" type="password" placeholder="Password" data-localize="placeholder.password"/>
					</div>
					<div>
						<input type="hidden" value="_csrf" name="_csrf" />
						<input type="hidden" value="en" name="lang" id="form-lang" />
						<input id="login-button" value="Login" type="submit" data-localize="login.button"/>
					</div>
					<div style="text-align:right; margin-top:12px;">
						<a id="forgot-password" href="./forgot"  data-localize="login.forgot"></a>
					</div>
				</form>
			</div>
		</div>
	</div>
