

	<div id="reset-form">
		<div id="forgot-left">
			<div id="forgot-logo"></div>
		</div>
		<div style="font-size: 18px; color: #eee; margin-bottom: 39px; text-align: center; text-shadow: 0 -1px #000;" data-localize="reset.explanation"></div>
		<div id="create-account">
			<form id="reset-password-form" method="POST" action="reset">
				<div>
					<input type="password" name="password" placeholder="Password" data-localize="placeholder.password"/>
				</div>
				<div>
					<input type="password" name="again" placeholder="Again" data-localize="placeholder.again"/>
				</div>
				<div>
					<input type="hidden" value="prid" name="prid" />
					<input type="hidden" value="_csrf" name="_csrf" />
                    <input type="hidden" value="en" name="lang" id="form-lang" />
					<input id="login-button" value="Reset my password" type="submit" data-localize="reset.button"/>
				</div>
			</form>
		</div>
	</div>
